<footer class="footer">
    <div class="container">
        <h2>Together, Let’s make this work</h2>
        <p class="d-flex">
            <span>There are many variations of passages of Lorem Ipsum available but the majority have suffered
                alteration in that
                some form by injected humour or randomised that even slightly believable.</span>
            <button class="btn">Started Now</button>
        </p>

        <section class="d-flex">
            <div>
                <h3>
                    HostingFlex
                </h3>
                <p>There are many variations of that passages of Lorem Ipsum available but the majority.</p>
                <ul class="d-flex">
                    <li><a href="#"><i class="bx bxl-facebook"></i></a></li>
                    <li><a href="#"><i class="bx bxl-twitter"></i></a></li>
                    <li><a href="#"><i class="bx bxl-linkedin"></i></a></li>
                    <li><a href="#"><i class="bx bxl-instagram"></i></a></li>
                    <li><a href="#"><i class="bx bxl-google"></i></a></li>
                </ul>
            </div>
            <div>
                <h3>Our Services</h3>
                <ul>
                    <li><a href="#"><i class="bx bx-chevrons-right"></i> Shared Hosting</a></li>
                    <li><a href="#"><i class="bx bx-chevrons-right"></i> Reseller Hosting</a></li>
                    <li><a href="#"><i class="bx bx-chevrons-right"></i> VPS Hosting</a></li>
                    <li><a href="#"><i class="bx bx-chevrons-right"></i> Cloud Hosting</a></li>
                    <li><a href="#"><i class="bx bx-chevrons-right"></i> Dedicated Hosting</a></li>
                    <li><a href="#"><i class="bx bx-chevrons-right"></i> Domain Name</a></li>
                </ul>
            </div>
            <div>
                <h3>Our Company</h3>
                <ul>
                    <li><a href="#"><i class="bx bx-chevrons-right"></i> About us Company</a></li>
                    <li><a href="#"><i class="bx bx-chevrons-right"></i> Our Support</a></li>
                    <li><a href="#"><i class="bx bx-chevrons-right"></i> Our Latest Blog</a></li>
                    <li><a href="#"><i class="bx bx-chevrons-right"></i> Pricing List</a></li>
                    <li><a href="#"><i class="bx bx-chevrons-right"></i> Terms of Service</a></li>
                    <li><a href="#"><i class="bx bx-chevrons-right"></i> Privacy Policy</a></li>
                </ul>
            </div>
            <div>
                <h3>Contact Info</h3>
                <p>
                    +24998933839 <br>
                    info@hostingflex.com
                </p>
            </div>
        </section>
    </div>


    <p class="center">&copy; Copyright 2022 HostingFlex- All Rights Reserved</p>
</footer>