<div class="d-flex container section-hero">
    <section class="text">
        <h2>
            <%= pageTitle %>
        </h2>
        <h4>
            <span onclick="history.back()">Home &nbsp; > &nbsp; </span>
            <%= pageTitle %>
        </h4>
    </section>
    <section class="img">
        <img src="images/breadcrumb-right.png" alt="">
    </section>
</div>