<%- include('./partials/header', {title: "About Us" }) %>
    <header class="">
        <%- include('./partials/navbar') %>
            <%- include('./partials/hero-section', {pageTitle: "About Us"}) %>
    </header>

    <main class="about">
        <div class="container we-are d-flex">
            <section>
                <img src="images/01.jpg" alt="">
                <div class="hover">
                    <a href="https://www.youtube.com/watch?v=0hGK7qiQ6WA" class="video-play-btn mfp-iframe">
                        <i class="bx bx-play"></i></a>
                </div>
            </section>
            <section>
                <h2>Who We Are?</h2>
                <p>There are many variations of passages of Lorem Ipsum available but the majority have suffered
                    alteration
                    in that some form by injected humour a or randomised words which don't look even slightly
                    believable. If
                    youis the going a to use a passage of Lorem Ipsum you need to be sure there isn't a anything
                    embarrassing.</p>

                <p>There are many variations of passages of Lorem Ipsum available but the a majority have suffered
                    alteration in that some form by injected humour or randomised words which don't look even slightly
                    believable.</p>

                <p>There are many variations of passages of Lorem Ipsum available but the a majority have suffered
                    alteration in that some form by injected.</p>
            </section>
        </div>
        <div class="container d-flex hosting-domain">
            <section>
                <img src="images/full-width-feature-05.jpg" alt="">

            </section>
            <section>
                <strong>More Than 2M People Using</strong>
                <h2>Our Hosting Domain In The Planet</h2>
                <p>There are many variations of passages of is the is an Lorem Ipsum available but the and alteration
                    embarrassing. There many variations of passages ofthe the is an Lorem Ipsum available but alteration
                    embarrassing.</p>
                <ul class="circle-list">
                    <li>There are many variations of passages any variations.</li>
                    <li>Lorem Ipsum available but the alteration embarrassing.</li>
                    <li>Embarrassing. There many variations.</li>
                    <li>The is Lorem Ipsum available but alteration embarrassing.</li>
                    <li>Available but alteration embarrassing.</li>
                </ul>
                <a href="/" class="btn">Explore More</a>
            </section>


        </div>

        <section class="choose-us center">
            <div class="container">
                <Strong>Best Hosting</Strong>
                <h2>
                    Why Choose Us
                </h2>
                <p>There are many variations of passages of Lorem Ipsum available but the majority have suffered
                    alteration
                    in some injected humour or randomised words</p>

                <div class="d-flex">
                    <figure>
                        <img src="images/01.png" alt="">
                        <figcaption>
                            <h3>Virtual Hosting</h3>
                            <p>Passages of at the is available but the majority have alteration embarrassing.
                            </p>
                        </figcaption>
                    </figure>
                    <figure>
                        <img src="images/02.png" alt="">
                        <figcaption>
                            <h3>Reseller Hosting</h3>
                            <p>Passages of at the is available but the majority have alteration embarrassing.
                            </p>
                        </figcaption>
                    </figure>
                    <figure>
                        <img src="images/03.png" alt="">
                        <figcaption>
                            <h3>Cloud servert
                            </h3>
                            <p>Passages of at the is available but the majority have alteration embarrassing.
                            </p>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </section>
        <section class="our-team">
            <section class="choose-us center">
                <div class="container">
                    <Strong>Our</Strong>
                    <h2>
                        Awesome Team
                    </h2>
                    <p>There are many variations of passages of Lorem Ipsum available but the majority have suffered
                        alteration
                        in some injected humour or randomised words</p>

                    <div class="d-flex">
                        <figure>
                            <img src="images/our-team1.jpg" alt="">
                            <figcaption>
                                <h4 class="title">Maria Anderson</h4>
                                <span class="post">UI/UX Designer</span>
                                <ul class="d-flex">
                                    <li><a href="#" class="facebook"> <i class="bx bxl-facebook"></i> </a></li>
                                    <li><a href="#" class="twitter"> <i class="bx bxl-twitter"></i> </a></li>
                                    <li><a href="#" class="instagram"> <i class="bx bxl-instagram"></i> </a></li>
                                    <li><a href="#" class="linkedin"> <i class="bx bxl-linkedin"></i> </a></li>
                                </ul>
                            </figcaption>
                        </figure>
                        <figure>
                            <img src="images/our-team2.jpg" alt="">
                            <figcaption>
                                <h4 class="title">Maria Anderson</h4>
                                <span class="post">UI/UX Designer</span>
                                <ul class="d-flex">
                                    <li><a href="#" class="facebook"> <i class="bx bxl-facebook"></i> </a></li>
                                    <li><a href="#" class="twitter"> <i class="bx bxl-twitter"></i> </a></li>
                                    <li><a href="#" class="instagram"> <i class="bx bxl-instagram"></i> </a></li>
                                    <li><a href="#" class="linkedin"> <i class="bx bxl-linkedin"></i> </a></li>
                                </ul>
                            </figcaption>
                        </figure>
                        <figure>
                            <img src="images/our-team3.jpg" alt="">
                            <figcaption>
                                <h4 class="title">Maria Anderson</h4>
                                <span class="post">UI/UX Designer</span>
                                <ul class="d-flex">
                                    <li><a href="#" class="facebook"> <i class="bx bxl-facebook"></i> </a></li>
                                    <li><a href="#" class="twitter"> <i class="bx bxl-twitter"></i> </a></li>
                                    <li><a href="#" class="instagram"> <i class="bx bxl-instagram"></i> </a></li>
                                    <li><a href="#" class="linkedin"> <i class="bx bxl-linkedin"></i> </a></li>
                                </ul>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </section>
        </section>
        <div class="container">

            <section class="FAQ">
                <h2>
                    Frequently Asked Questions
                </h2>
                <p>
                    There are many variations of passages of Lorem Ipsum available but the a majority suffered
                    alteration
                    injected humours
                </p>
                <ul class="hide-content">
                    <span>
                        <li>What is virtual hosting?</li>
                        <p class="showP">
                            There are many variations of passages of Lorem Ipsum available is but the majority have
                            suffered alteration in that some form by the a injected humour or randomised words.
                        </p>
                    </span>
                    <span>
                        <li>Upgrade your hosting package</li>
                        <p class="showP">
                            There are many variations of passages of Lorem Ipsum available is but the majority have
                            suffered alteration in that some form by the a injected humour or randomised words.
                        </p>
                    </span>
                    <span>
                        <li>Buy VPS hosting</li>
                        <p class="showP">
                            There are many variations of passages of Lorem Ipsum available is but the majority have
                            suffered alteration in that some form by the a injected humour or randomised words.
                        </p>
                    </span>
                    <span>
                        <li>Website builder hosting</li>
                        <p class="showP">
                            There are many variations of passages of Lorem Ipsum available is but the majority have
                            suffered alteration in that some form by the a injected humour or randomised words.
                        </p>
                    </span>
                    <span>
                        <li>Can i upgrade my account if i need to?</li>
                        <p class="showP">
                            There are many variations of passages of Lorem Ipsum available is but the majority have
                            suffered alteration in that some form by the a injected humour or randomised words.
                        </p>
                    </span>
                </ul>
            </section>
        </div>
    </main>

    <%- include('./partials/footer') %>
        <script src="js/main.js"></script>
        
        </body>


        </html>