<%- include('./partials/header', {title: "Hosting" }) %>
    <header class="">
        <%- include('./partials/navbar') %>
            <%- include('./partials/hero-section', {pageTitle: "Hosting" }) %>
    </header>

    <main class="shared-hosting">

        <section class="price-plan-area-three">
            <div class="container">
                <div class="row justify-content-center center p-3">
                    <div class="col-lg-8">
                        <div class="section-title">
                            <span class="subtitle">Reseller Hosting</span>
                            <h2 class="title">Our Best Pricing Plans</h2>
                            <p>There are many variations of passages of Lorem Ipsum available but the majority have
                                suffered alteration in some injected humour or randomised words </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6  mb-4 remove-col-padding">
                        <div class="single-price-plan-03 first-item">
                            <!-- single price plan one -->
                            <div class="price-header">
                                <span class="subtitle">List Of</span>
                                <h4 class="title">Configuration</h4>
                            </div>
                            <div class="price-body">
                                <ul>
                                    <li>Operating System</li>
                                    <li>Processor Speed</li>
                                    <li>Main Memory</li>
                                    <li>Hard Disk</li>
                                    <li>E-mail</li>
                                    <li>Channel</li>
                                    <li>Regular Monitoring</li>
                                    <li>Live Support</li>
                                </ul>
                            </div>
                        </div><!-- //.single price plan one -->
                    </div>
                    <div class="col-lg-3 col-md-6  mb-4 remove-col-padding">
                        <div class="single-price-plan-03">
                            <!-- single price plan one -->
                            <div class="price-header">
                                <h4 class="name">Personal Hosting</h4>
                                <span class="price">$ 15.99/m</span>
                                <span class="starting">Starting At</span>
                            </div>
                            <div class="price-icon">
                                <div class="icon">
                                    <i class="bx bx-data"></i>
                                </div>
                            </div>
                            <div class="price-body">
                                <ul>
                                    <li>Windows</li>
                                    <li>Core i3 2.2 GHz</li>
                                    <li>1024GB</li>
                                    <li>Hard Disk</li>
                                    <li>10 GB Storage</li>
                                    <li>25 E-mail Address</li>
                                    <li>2 GB Bandwidth</li>
                                    <li>24/7/365</li>
                                </ul>
                            </div>
                            <div class="price-footer">
                                <a href="#" class="btn btn-success btn-rounded">Buy Now</a>
                            </div>
                        </div><!-- //.single price plan one -->
                    </div>
                    <div class="col-lg-3 col-md-6  mb-4 remove-col-padding">
                        <div class="single-price-plan-03">
                            <!-- single price plan one -->
                            <div class="price-header">
                                <h4 class="name">Personal Hosting</h4>
                                <span class="price">$ 19.99/m</span>
                                <span class="starting">Starting At</span>
                            </div>
                            <div class="price-icon">
                                <div class="icon">
                                    <i class="bx bx-cloud-upload"></i>
                                </div>
                            </div>
                            <div class="price-body">
                                <ul>
                                    <li>Windows</li>
                                    <li>Core i3 2.2 GHz</li>
                                    <li>1024GB</li>
                                    <li>Hard Disk</li>
                                    <li>10 GB Storage</li>
                                    <li>25 E-mail Address</li>
                                    <li>2 GB Bandwidth</li>
                                    <li>24/7/365</li>
                                </ul>
                            </div>
                            <div class="price-footer">
                                <a href="#" class="btn btn-success btn-rounded">Buy Now</a>
                            </div>
                        </div><!-- //.single price plan one -->
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4 remove-col-padding">
                        <div class="single-price-plan-03">
                            <!-- single price plan one -->
                            <div class="price-header">
                                <h4 class="name">Personal Hosting</h4>
                                <span class="price">$ 39.99/m</span>
                                <span class="starting">Starting At</span>
                            </div>
                            <div class="price-icon">
                                <div class="icon">
                                    <i class="bx bx-server"></i>
                                </div>
                            </div>
                            <div class="price-body">
                                <ul>
                                    <li>Windows</li>
                                    <li>Core i3 2.2 GHz</li>
                                    <li>1024GB</li>
                                    <li>Hard Disk</li>
                                    <li>10 GB Storage</li>
                                    <li>25 E-mail Address</li>
                                    <li>2 GB Bandwidth</li>
                                    <li>24/7/365</li>
                                </ul>
                            </div>
                            <div class="price-footer">
                                <a href="#" class="btn btn-success btn-rounded">Buy Now</a>
                            </div>
                        </div><!-- //.single price plan one -->
                    </div>
                </div>
            </div>
        </section>
        <section class="center p-5 best-service">
            <div class="container">
                <Strong>Our Best Service</Strong>
                <h2>
                    Our Best Service
                </h2>
                <p class="p-3">There are many variations of passages of Lorem Ipsum available but the majority have
                    suffered
                    alteration
                    in some injected humour or randomised words</p>

                <div class="d-flex">
                    <div class="p-2">
                        <img src="images/07.png" alt="">
                        <h3>Shared Hosting</h3>
                        <p>
                            There are many variations of passages the a of Lorem Ipsum available but the majority have
                            is dummy suffered text.</p>
                    </div>
                    <div class="p-2">
                        <img src="images/08.png" alt="">
                        <h3>Cloud Hosting</h3>
                        <p>
                            There are many variations of passages the a of Lorem Ipsum available but the majority have
                            is dummy suffered text.</p>
                    </div>
                    <div class="p-2">
                        <img src="images/09.png" alt="">
                        <h3>Dedicated Server</h3>
                        <p>
                            There are many variations of passages the a of Lorem Ipsum available but the majority have
                            is dummy suffered text.</p>
                    </div>
                    <div class="p-2">
                        <img src="images/10.png" alt="">
                        <h3>Reseller Hosting</h3>
                        <p>
                            There are many variations of passages the a of Lorem Ipsum available but the majority have
                            is dummy suffered text.</p>
                    </div>
                </div>

            </div>
        </section>
        <section class="choose-us center">
            <div class="container">
                <Strong>Best Hosting</Strong>
                <h2>
                    Why Choose Us
                </h2>
                <p>There are many variations of passages of Lorem Ipsum available but the majority have suffered
                    alteration
                    in some injected humour or randomised words</p>

                <div class="d-flex">
                    <figure class=" text-start">
                        <i class="bx bxs-quote-left text-info fs-2"></i>
                        <figcaption>
                            <p>There are many variations of passages of Lorem Ipsum that available but themajority
                                suffered that randomised slightly believable.</p>
                            <h4>Janathan Simpson</h4>
                            <a href="">Lead Manager</a>
                        </figcaption>
                    </figure>
                    <figure class="text-start">
                        <i class="bx bxs-quote-left text-info fs-2 fs-2"></i>
                        <figcaption>
                            <p>There are many variations of passages of Lorem Ipsum that available but themajority
                                suffered that randomised slightly believable.</p>
                            <h4>Janathan Simpson</h4>
                            <a href="">Lead Manager</a>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </section>
        <section class="cloud-sites pt-2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 pt-5 lh-lg">
                        <h2 class="pt-5">Introducing Cloud Sites</h2>
                        <p>There are many variations of passages of Lorem Ipsum the a available but the majority have
                            suffered
                            alteration some the form by injected humour or randomised words which don't a look even
                            slightly
                            believable.</p>
                        <ul class="text-secondary p-0">
                            <li> <i class="bx bx-check-square text-info fs-5"></i>
                                Perspiciatis unde omnis iste natus error sit voluptatem.</li>
                            <li> <i class="bx bx-check-square text-info fs-5"></i>
                                Ipsa quae ab illo inventore veritatis dummy text.</li>
                            <li><i class="bx bx-check-square text-info fs-5"></i>
                                Perspiciatis unde omnis iste voluptatem..</li>
                        </ul>
                        <button class="btn">Read More</button>
                    </div>
                    <div class="col-lg-6">
                        <img src="images/11.png" alt="">
                    </div>
                </div>
            </div>
        </section>
    </main>

    <%- include('./partials/footer') %>
        <script src="js/main.js"></script>
        </body>


        </html>