<%- include('./partials/header', {title: "Home" }) %>
    <header class="">
        <%- include('./partials/navbar') %>
            <div class="d-flex container section-hero">
                <section class="text">
                    <strong>
                        Build Your Hosting
                    </strong>
                    <h1>
                        Own Website Today
                    </h1>
                    <p>
                        There are mny variations of passages of Lorem ipsum available but the majorty have suffered
                        alteration in some form by injesd-fcted humour or randomised even
                    </p>
                    <div class="buttons">
                        <button class="btn">Get Started</button>
                        <button class="btn">Read More</button>
                    </div>
                </section>
                <section class="img">
                    <img src="images/header-right.png" alt="">
                </section>
            </div>
    </header>

    <section class="our-domins">
        <div class="container">
            <ul class="d-flex">
                <li class="com">
                    <h2>.com</h2>
                    <strong>$2.45</strong>
                </li>
                <li class="co">
                    <h2>.co</h2>
                    <strong>$5.3</strong>
                </li>
                <li class="info">
                    <h2>.info</h2>
                    <strong>$7.5</strong>
                </li>
                <li class="net">
                    <h2>.net</h2>
                    <strong>$7.5</strong>
                </li>
                <li class="store">
                    <h2>.store</h2>
                    <strong>$7.85</strong>
                </li>
            </ul>
            <form action="" method="" class="checkDomain">
                <input type="text" name="domainName" placeholder="Enter Address">
                <select name="domains" id="domains">
                    <option value="com">.com</option>
                    <option value="co">.co</option>
                    <option value="info">.info</option>
                    <option value="net">.net</option>
                    <option value="store">.store</option>
                </select>
                <button type="submit" class="btn">
                    Search
                </button>
            </form>
            <div class="domainResult text-center p-3">

            </div>
            <ul class="d-flex">
                <li>
                    <i class="bx bx-b"></i>
                    daily backups
                </li>
                <li>
                    <i></i>
                    free migrations
                </li>
                <li>
                    <i></i>
                    staging environments
                </li>
            </ul>
        </div>
    </section>

    <section class="choose-us center">
        <div class="container">
            <Strong>Best Hosting</Strong>
            <h2>
                Why Choose Us
            </h2>
            <p>There are many variations of passages of Lorem Ipsum available but the majority have suffered alteration
                in some injected humour or randomised words</p>

            <div class="d-flex">
                <figure>
                    <img src="images/01.png" alt="">
                    <figcaption>
                        <h3>99.9% Uptime Guarantee</h3>
                        <p>There are many variations the a of Lorem Ipsum available but the majority have suffered</p>
                    </figcaption>
                </figure>
                <figure>
                    <img src="images/02.png" alt="">
                    <figcaption>
                        <h3>Safe and Secured</h3>
                        <p>There are many variations the a of Lorem Ipsum available but the majority have suffered</p>
                    </figcaption>
                </figure>
                <figure>
                    <img src="images/03.png" alt="">
                    <figcaption>
                        <h3>Our Dedicated Support
                        </h3>
                        <p>There are many variations the a of Lorem Ipsum available but the majority have suffered</p>
                    </figcaption>
                </figure>
            </div>
        </div>
    </section>
    <section class="our-service center">
        <div class="container">
            <Strong>Best Service</Strong>
            <h2>
                Our Best Service
            </h2>
            <p>There are many variations of passages of Lorem Ipsum available but the majority have suffered alteration
                in some injected humour or randomised words</p>

            <div class="d-flex">
                <figure>
                    <div class="icon">
                        <i class="bx bx-cloud-download"></i>
                    </div>
                    <figcaption>
                        <h3>Shared Hostinge</h3>
                        <p>There are many variations of passages is dummy text Lorem Ipsum available but the majority
                            suffered alteration.</p>
                    </figcaption>
                </figure>
                <figure>
                    <div class="icon">
                        <i class="bx bx-server"></i>
                    </div>
                    <figcaption>
                        <h3>Reseller Hosting</h3>
                        <p>There are many variations of passages is dummy text Lorem Ipsum available but the majority
                            suffered alteration.</p>
                    </figcaption>
                </figure>
                <figure>
                    <div class="icon">
                        <i class="bx bx-cloud-rain"></i>
                    </div>
                    <figcaption>
                        <h3>VPS Hosting
                        </h3>
                        <p>There are many variations of passages is dummy text Lorem Ipsum available but the majority
                            suffered alteration.</p>
                    </figcaption>
                </figure>
                <figure>
                    <div class="icon">
                        <i class="bx bx-server"></i>
                    </div>
                    <figcaption>
                        <h3>Cloud Hosting</h3>
                        <p>There are many variations of passages is dummy text Lorem Ipsum available but the majority
                            suffered alteration.</p>
                    </figcaption>
                </figure>
                <figure>
                   <div class="icon">
                    <i class="bx bx-server"></i>
                   </div>
                    <figcaption>
                        <h3>Dedicated Hosting</h3>
                        <p>There are many variations of passages is dummy text Lorem Ipsum available but the majority
                            suffered alteration.</p>
                    </figcaption>
                </figure>
                <figure>
                   <div class="icon">
                    <i class="bx bx-file-find"></i>
                   </div>
                    <figcaption>
                        <h3>Domain Name
                        </h3>
                        <p>There are many variations of passages is dummy text Lorem Ipsum available but the majority
                            suffered alteration.</p>
                    </figcaption>
                </figure>
            </div>
        </div>
    </section>
    <section class="plan-power">
        <div class="d-flex container section-hero">
            <section class="text">
                <strong>
                    Get Best
                </strong>
                <h2>
                    Plans for more Power
                </h2>
                <p>
                    There are many variations of passages of Lorem Ipsum available but the majority have suffered
                    alteration in that some form by injected humour or randomised words which don't look even slightly
                    believable. If you are going a to use a passage of Lorem Ipsum.
                </p>
                <ul>
                    <li><i class="bx bx-check-circle"></i> We've been supporting WordPress since the beginning.</li>
                    <li><i class="bx bx-check-circle"></i> Perfect for large sites or agencies managing multiple clients.</li>
                    <li><i class="bx bx-check-circle"></i> Our easy-to-use control panel and API let you spend</li>
                    <li><i class="bx bx-check-circle"></i> Oh smiling amiable am so visited cordial in offices</li>
                    <li><i class="bx bx-check-circle"></i> Hard on to roof he drew. So sell side ye in mr evil</li>
                    <li><i class="bx bx-check-circle"></i> Improving knowledge incommode objection me ye</li>
                </ul>
                <div class="buttons">
                    <button class="btn">Learn More</button>
                </div>
            </section>
            <section class="img">
                <img src="images/plan-for-more-power.png" alt="">
            </section>
        </div>
    </section>
    <section class="trusted-web">
        <div class="d-flex container section-hero">
            <section class="img">
                <img src="images/trusted-web-hosting.png" alt="">
            </section>
            <section class="text">
                <strong>
                    Pricing Plans
                </strong>
                <h2>
                    Our Best Pricing Plans
                </h2>
                <p>
                    There are many variations of passages of Lorem Ipsum available but the majority have suffered
                    alteration in some injected humour or randomised words
                </p>
                <ul class="hide-content">
                    <li><i class="bx bx-check-shield"></i> Better Security and faster Server</li>
                    <p class="showP">
                        There are many variations of passages of Lorem Ipsum available but the majority have suffered
                        alteration in that some form by injected humour or randomised words which slightly believable.
                    </p>
                    <li><i class="bx bx-server"></i>  Computing cloud & Better Security and faster Server</li>
                    <p class="showP">
                        There are many variations of passages of Lorem Ipsum available but the majority have suffered
                        alteration in that some form by injected humour or randomised words which slightly believable.
                    </p>
                    <li><i class="bx bx-cloud-drizzle"></i> Cloud Meter & Better Security and faster Server</li>
                    <p class="showP">
                        There are many variations of passages of Lorem Ipsum available but the majority have suffered
                        alteration in that some form by injected humour or randomised words which slightly believable.
                    </p>
                    <li><i class="bx bxs-data"></i>  Database Better Security and faster Server</li>
                    <p class="showP">
                        There are many variations of passages of Lorem Ipsum available but the majority have suffered
                        alteration in that some form by injected humour or randomised words which slightly believable.
                    </p>
                </ul>
                <div class="buttons">
                    <button class="btn">Learn More</button>
                </div>
            </section>

        </div>
    </section>
    <section class="our-price center">
        <div class="container">

            <strong>
                Pricing Plans
            </strong>
            <h2>
                Our Best Pricing Plans
            </h2>
            <p>
                There are many variations of passages of Lorem Ipsum available but the majority have suffered
                alteration in some injected humour or randomised words
            </p>
            <div class="d-flex">
                <section class="first-plan">
                    <div class="price">
                        <img src="images/04.png" alt="">
                        <h2>Cloud Hosting <br> $97</h2>
                    </div>
                    <div class="price-body">
                        <ul>
                            <li>100% High Performance</li>
                            <li>Cloud Platform Ever</li>
                            <li>Free Updates Files</li>
                            <li>72 Hours Support</li>
                            <li>Unlimited Spend</li>
                        </ul>
                        <button type="submit" class="btn">Buy Now</button>
                    </div>
                </section>
                <section class="first-plan">
                    <div class="price">
                        <img src="images/06.png" alt="">
                        <h2>Cloud Hosting <br> $97</h2>
                    </div>
                    <div class="price-body">
                        <ul>
                            <li>100% High Performance</li>
                            <li>Cloud Platform Ever</li>
                            <li>Free Updates Files</li>
                            <li>72 Hours Support</li>
                            <li>Unlimited Spend</li>
                        </ul>
                        <button type="submit" class="btn">Buy Now</button>
                    </div>
                </section>
                <section class="first-plan">
                    <div class="price">
                        <img src="images/04.png" alt="">
                        <h2>Cloud Hosting <br> $97</h2>
                    </div>
                    <div class="price-body">
                        <ul>
                            <li>100% High Performance</li>
                            <li>Cloud Platform Ever</li>
                            <li>Free Updates Files</li>
                            <li>72 Hours Support</li>
                            <li>Unlimited Spend</li>
                        </ul>
                        <button type="submit" class="btn">Buy Now</button>
                    </div>
                </section>
            </div>
        </div>
    </section>

    <article class="compromise">
        <h2 class="center">We don’t compromise with the
            best Hosting Solution</h2>
        <div class="container d-flex">
            <section class="d-flex">
                <i class="bx bx-check-shield"></i>
                <div>
                    <h3>Days money back guarantee
                    </h3>
                    <p>
                        There are many variations of passages of Lorem Ipsum is available butt the majority have
                        suffered alteration in that.
                    </p>
                    <button class="btn">Learn More</button>
                </div>
            </section>
            <section class="d-flex">
                <i class="bx bx-check-shield"></i>
                <div>
                    <h3>Days money back guarantee
                    </h3>
                    <p>
                        There are many variations of passages of Lorem Ipsum is available butt the majority have
                        suffered alteration in that.
                    </p>
                    <button class="btn">Learn More</button>
                </div>
            </section>
        </div>
    </article>

    <article class="latest-blog">
        <div class="center">
            <strong>Latest Blog</strong>
            <h2>Get Our Latest Blog</h2>
            <p>
                There are many variations of passages of Lorem Ipsum available but the majority have suffered alteration
                in
                some
                injected humour or randomised words
            </p>
        </div>
        <div class="container d-flex">
            <section>
                <img src="images/01.jpg" alt="">
                <a href="">
                    <strong> Attentive was born in 2015 help sales teams</strong>
                    <span>More Details</span>
                </a>
            </section>
            <section>
                <img src="images/02.jpg" alt="">
                <a href="">
                    <strong> Life won’t one beast air over above all</strong>
                    <span>More Details</span>
                </a>
            </section>
            <section>
                <img src="images/03.jpg" alt="">
                <a href="">
                    <strong> Life won’t one beast air over above all</strong>
                    <span>More Details</span>
                </a>
            </section>
        </div>
    </article>


    <%- include('./partials/footer')  %> 
    
    <script src="js/main.js"></script>
    </body>


    </html>